{% extends "base.html" %}
{% block content %}
<script type="text/JavaScript">
	function autorefresh(d) { setTimeout("location.reload(true)", d); }
</script>

<body onload="JavaScript:autorefresh(5000);">
	<div>
		<h1>Fuzzer stats</h1>
		<p>as of {{ common_stats.curtime_fmt }}</p>

		<h2>Common stats:</h2>
		<h5>Execs: {{ common_stats.execs }}</h5>
		<h5>{{ common_stats.paths_info_fmt }}</h5>
		<h5>{{ common_stats.hangs_info_fmt }}</h5>
		<h5>{{ common_stats.crashes_info_fmt }}</h5>

		<h2>Per-fuzzer stats:</h2>
		{% for fuzzer in fuzzer_stats %}
		<pre>
<b>Fuzzer #{{ loop.index }}/{{ loop.length }}: {{ fuzzer.command_line }}</b>
Last update: {{ fuzzer.last_update }}

Execs: {{ fuzzer.execs_done }} ({{ fuzzer.execs_per_sec }} / s)
Paths: {{ fuzzer.paths_total }} (discovered: {{ fuzzer.paths_found }}, imported: {{ fuzzer.paths_imported }})
Hangs: {{ fuzzer.unique_hangs }}
Crashes: {{ fuzzer.unique_crashes }}

Stability: {{ fuzzer.stability }}
Working mode: {{ fuzzer.target_mode }}
	</pre>
		{% endfor %}
	</div>
</body>
{% endblock %}